:root {
  --gliy: 44%;
  --shadx: 2px;
}

.gli {
  position: absolute;
  max-width: 1000px !important;
  width:100%;
  min-width: 300px !important;
  text-shadow: var(--shadx) 0px rgb(243, 9, 165),
    calc(var(--shadx) * (-1)) 0px rgb(41, 207, 219);
    left:0;
    right:0;
    top:50px;
    margin: 0 auto;
}
.gli1 {
  left: 25px;
  clip-path: polygon(0 0, 110% 0, 110% var(--gliy), 0 var(--gliy));
}
.gli2 {
  left: 0px;
  clip-path: polygon(0 100%, 110% 100%, 110% var(--gliy), 0 var(--gliy));
}


/*.fadeIn_0{
    opacity:0;
    animation: fadeIn 1s ease 0s forwards;
}
.fadeIn_05{
    opacity:0;
    animation: fadeIn 1s ease .5s forwards;
}  
@keyframes fadeIn {
    from { opacity:0;}
    to { opacity:1;}
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(180deg); 
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(33, 20, 95, 0);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(33, 20, 95, 0.15);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(33, 20, 95, 0);
    }
}*/