
@font-face {
    /*font-family: 'America Great Again';
    src: url('../assets/fonts/AmericaGreatAgain-Light.eot');
    src: url('../assets/fonts/AmericaGreatAgain-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/AmericaGreatAgain-Light.woff2') format('woff2'),
        url('../assets/fonts/AmericaGreatAgain-Light.woff') format('woff'),
        url('../assets/fonts/AmericaGreatAgain-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;*/
}




$FontDefault =  'Arial, Helvetica, America Great Again';

body
    font-family: $FontDefault
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #130404;
    background-color: lightgrey;
    @media(max-width:767px)
        font-size:16px
    &::-webkit-scrollbar
        width: 5px;
    &::-webkit-scrollbar-track 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    &::-webkit-scrollbar-thumb 
      background-color: darkgrey;
      outline: 1px solid slategrey;


.box_rel
    position:relative

a 
    span 
        display: inline-block
        position:relative
        z-index:1
        object 
            pointer-events: none
            position: relative
            z-index: -1

.model-2
    width 40px
    position:absolute
    top: 30px;
    right: 0;
    left:0
    margin:0 auto
    outline none !important
    z-index:305
    cursor:pointer
    .bar
        height 4px
        width 32px
        display block
        margin 5px auto
        position relative
        // background: linear-gradient(270deg, #22B0DE 0%, #FF0099 100%);
        -moz-transition 0.4s
        -o-transition 0.4s
        -webkit-transition 0.4s
        transition 0.4s
        
    .menu_but
        .bar
            &:nth-of-type(1)
                -moz-animation rotateR 1.5s cubic-bezier(0.5, 0.2, 0.2, 1)
                -webkit-animation rotateR 1.5s cubic-bezier(0.5, 0.2, 0.2, 1)
                animation rotateR 1.5s cubic-bezier(0.5, 0.2, 0.2, 1)
            &:nth-of-type(2)
                -moz-animation fade 1.5s cubic-bezier(0.1, 0.8, 0.1, 1)
                -webkit-animation fade 1.5s cubic-bezier(0.1, 0.8, 0.1, 1)
                animation fade 1.5s cubic-bezier(0.1, 0.8, 0.1, 1)
            &:nth-of-type(3)
                -moz-animation rotateL 1.5s cubic-bezier(0.5, 0.2, 0.2, 1)
                -webkit-animation rotateL 1.5s cubic-bezier(0.5, 0.2, 0.2, 1)
                animation rotateL 1.5s cubic-bezier(0.5, 0.2, 0.2, 1)
.open_nav
    @media(max-width:991px)
        .menu_list
            width:100%
            max-height:1000px !important
            transition:0.5s
            padding:95px 0 55px
            // background:#000
            z-index:10
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            .a_text
                display:block
                text-align:center
            .a_stories
              margin:30px 0
        .model-2
            .menu_but
                display:block !important
                .bar
                    // background #FF0099
                    &:nth-of-type(1)
                        -moz-transform translateY(8px) rotate(45deg)
                        -ms-transform translateY(8px) rotate(45deg)
                        -webkit-transform translateY(8px) rotate(45deg)
                        transform translateY(8px) rotate(45deg)
                    &:nth-of-type(2)
                        opacity 0
                    &:nth-of-type(3)
                        -moz-transform translateY(-10px) rotate(-45deg)
                        -ms-transform translateY(-10px) rotate(-45deg)
                        -webkit-transform translateY(-10px) rotate(-45deg)
                        transform translateY(-10px) rotate(-45deg)
.desk 
    display:block
    @media(max-height:599px), (max-width:991px)
        display:none
.mobi
    display:none
    @media(max-height:599px), (max-width:991px)
        display:block

.hide_mob
    @media(max-width:767px)
        display:none !important


.videobox 
    width:100%
    max-width:945px;
    margin:0 auto 60px;
    padding:12px 10px 12px 10px;
    .video_container
        position: relative;
        padding-bottom: 56.25% /* 16*9 */;
        height: 0;
        z-index:2
    iframe, object, embed
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;


#site_wrap
    width:100%
    padding-top:78px
    @media(max-width:1199px)
        padding-top:87px
    @media(max-height:599px)
        padding:0 15px
        overflow:hidden
    .mainbg
        max-width:60%
        margin:0 auto